<ol class="content-list">
  {{#each content as |content|}}
  <li>
    <article class="content">
      <div class="title">
        <a href="{{content}}" target="_blank">{{content.title}}</a>
        <span>({{content}})</span>
      </div>
      <div class="meta">
        {{content.user.username}} on
        {{content.created_at}}
        |
        <a href="/content/{{content.id}}">{{content.comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>
